@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Merienda:wght@300..900&family=Montenegrin+Gothic+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Montenegrin+Gothic+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Story+Script&display=swap');



h2 {
	text-align: center;
	font-size: 30px;
}

.cartSection {
	padding: 10px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cartItemsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.itemCard {
	border: 2px solid skyblue;
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	box-shadow: 3px 2px 3px gray;
	background-color: #b7deef;
}

.cardSection {
	display: flex;
	align-items: stretch;
	gap: 10px;
	width: 600px;
	border-right: 1px solid;
}

.cardSection img {
	width: 150px;
}

.itemInfoDisplay {
	display: grid;
	grid-template-rows: 1fr 0.2fr;
	align-items: center;
	gap: 10px;
}

.cartItemName {
	text-align: center;
	font-size: 18px;
	font-family: 'Courgette', monospace;
}

.cartItemDescription {
	padding: 5px;
	font-size: 15px;
	font-family: 'Inter', sans-serif;
}

.priceDisplay {
	width: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.priceDisplay p {
	padding: 5px 10px;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
}

.itemCountContainer {
	border: 1px solid;
}

.OrderSummaryContainer {
	width: 500px;
	min-height: 400px;
	padding: 10px;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border: 1px solid;
	border-radius: 10px;
	background-color: #48a5c4;
}

.orderSummaryInfo{
	margin: 20px 0;
}

h3 {
	text-align: center;
	font-size: 25px;
	margin: 10px 0;
}

.orderPriceDisplay {
	padding: 10px 15px;
	font-family: monospace;
}

.orderPriceDisplay p {
	font-size: 20px;
}

.prices {
	float: right;
}

.checkoutButton {
	padding: 10px 15px;
	font-size: 20px;
	border: 1px solid;
	border-radius: 6px;
	align-self: center;
	box-shadow: 2px 2px 3px gray;
}

.checkoutButton:hover {
	transform: scale(1.03);
}