@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Courgette&family=Merienda:wght@300..900&family=Montenegrin+Gothic+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Story+Script&display=swap');

.filterOptions {
	padding: 3px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.filterOptions p {
	border: 1px solid;
	border-radius: 4px;
	padding: 3px;
	cursor: pointer;
	font-family: 'Courgette', monospace;
}

.filterOptions p:hover {
	background-color: skyblue;
}

.itemCardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 20px 15px;
}

.card {
	border: 2px solid;
	border-radius: 5px;
	padding: 5px 10px;
	background-color: #7aaec4;
}

.card:hover {
	box-shadow: 2px 3px 3px #2196f3;
	transform: scale(1.02);
}

.card img {
	width: 100%;
	height: 330px;
	border-bottom: 1px solid;
}

.card p {
	text-align: center;
}

.itemName {
	font-size: 20px;
	font-family: 'Courgette', monospace;
}

.itemPrice {
	font-size: 25px;
}

.buttonContainer {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.itemCountContainer {
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	box-shadow: 2px 2px 2px gray;
}

.itemCount {
	padding: 3px 5px;
	margin: 0;
}

.addCartButton {
	padding: 5px 10px;
	margin: 3px;
	border: 1px solid;
	border-radius: 8px;
	font-size: 20px;
	box-shadow: 2px 2px 2px gray;
}